@import '../_variables.scss';
@import '../_mixins.scss';
@import '../global.scss';

.appointment-details-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-mobile {
      width: 90%; // Adjusts width for mobile to ensure it fits within the screen
      max-width: 400px; // Ensures modal does not become too wide on larger mobile devices
    }
  }

  &__close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $color-coral-red;
    color: white;
    cursor: pointer;
  }
}
