@import '../_variables.scss';
@import '../_mixins.scss';

.home-page {
  @include for-mobile {
    margin-top: 20px;

    .post-form {
      width: 150px;
    }

    .posts {
      display: flex;
      flex-direction: column;
    }
  }
  @include for-mobile{

  }
  @include for-tablet {
    margin-left: 30%;
    width: calc(60% - 20px);
    margin-top: 3%;
  }
  @include for-desktop{
    margin-left: 30%;
    width: calc(60% - 20px);
    margin-top: 3%;
  }

  @include for-tablet-and-up {
    .post-form, .posts {
      max-width: 760px;
    }
  }
}
