@import '../_variables.scss';
@import '../_mixins.scss';

.home-page {
  box-sizing: border-box;
  max-width: 60%;
  @include for-mobile{
    margin-top: 20px;
    margin-left: 26%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include for-tablet {
    margin-left: 30%;
    width: calc(100% - 20px);
    margin-top: 3%;
  }
  @include for-desktop{
    margin-left: 30%;
    width: calc(70% - 20px);
    margin-top: 3%;
  }
  @include for-mid-desktop{
    margin-left: 27%;
    width: calc(73% - 20px);
    margin-top: 3%;
  }
  @include for-large-desktop{
    margin-left: 26%;
    width: calc(68% - 20px);
    margin-top: 3%;
  }


  .post-form {
    background-color: $color-light-grey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;

    .form-input {
      width: 100%;
      margin-bottom: 10px;
      height: 150px;
    }

    .action-btn {
      background-color: $color-vibrant-green;
      border: none;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($color-vibrant-green, 10%);
        box-shadow: 0 2px 5px $color-coral-red;
      }
    }
  }

  .posts {
    .notification-item {
      background-color: white;
      border: 1px $color-slate-grey;
      border-radius: 5px;
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .notification-item__details {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .post-interactions {
        display: flex;
        justify-content: space-between;
      }
      .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }

      .post-avatar {
        width: 40px;
        height: 40px; // Adjust size to maintain aspect ratio
        border-radius: 50%; // Circular avatar
        margin-right: 10px; // Space between avatar and username
      }

      .post-username {
        font-weight: bold;
        font-size: larger;
        font-family: 'RegularFont', serif;
        color: black;
      }

      .post-content {
        margin-bottom: 10px; // Space between content and interactions
      }

      .post-interactions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          cursor: pointer;
        }
      }
      // Additional styles for interaction icons (like, dislike, comment)
      .interaction-icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
  }
}
