@import '../_variables.scss';
@import '../_mixins.scss';

.home-page {
  @include for-mobile {
    padding: 20px;
    padding-top: 60px; // Adjust for fixed header

    .post-form {
      width: 100%;
    }

    .posts {
      display: flex;
      flex-direction: column;
    }
  }

  @include for-tablet-and-up {
    margin-left: 20%;
    width: 80%;

    .post-form, .posts {
      max-width: 760px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
