@import '../_variables.scss';
@import '../_mixins.scss';

.notifications {
  @include for-mobile {
    &__add-btn {
      display: block;
      margin: 0 auto; // Center button
      margin-top: 60px; // Adjust for fixed header
      background-color: $color-vibrant-green; // Ensure uniform button color
      &:hover {
        background-color: darken($color-vibrant-green, 10%);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px; // Spacing after the add button
    }
  }

  @include for-tablet-and-up {
    padding-left: 22%; // Adjust to not be covered by the header
    width: 78%; // Adjust to fit the space available on the right
  }
}
