@import '../_variables.scss';
@import '../_mixins.scss';

.notifications {
  // Positioning adjustments
  @include for-tablet {
    margin-left: 30%;
    width: calc(60% - 20px);
    margin-top: 3%;
  }
  @include for-desktop{
    margin-left: 30%;
    width: calc(60% - 20px);
    margin-top: 3%;
  }
  @include for-mobile{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__add-btn {
    background-color: $color-vibrant-green;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    &:hover {
      background-color: darken($color-vibrant-green, 10%);
      box-shadow: 0 2px 5px $color-coral-red;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .notification-item {
    background-color: $color-light-grey;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 15px;

    .notification-item__icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .notification-item__details {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
