@import '../_variables.scss';
@import '../_mixins.scss';

.registration-modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; // Start with a mobile-first approach
  max-width: 400px; // Ensures that the modal doesn't exceed 400px
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-dark-slate-grey;


  // Tablet styles
  @include for-tablet {
    width: 50%; // Adjust width for tablet devices
  }

  // Desktop styles
  @include for-desktop {
    width: 30%; // Adjust width for desktop devices
  }

  &__title, &__form-group, &__input, &__submit {
    width: 100%;
  }
  &__title{
    text-align: center;
  }

  &__input, &__submit {
    padding: 8px 12px;
    border: 1px solid $color-slate-grey;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__submit {
    background-color: $color-vibrant-green;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: darken($color-vibrant-green, 10%);
    }
  }
}
